* {
    margin: 0;
    padding: 0;
    font-family: system-ui, 'Arial', sans-serif;
}

body {
    background-color: #e6ebec;
}

header {
    text-align: center;
    margin: 2rem;
}

section {
    display: flex;
    justify-content: center;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding: 1.4rem;
    box-shadow: 0 0 10px #c5c5c5;
}

input {
    padding: 10px;
    border: 2px solid #c09ef5;
    border-radius: 8px;
    font-size: 14px;
}

.añadir {
    padding: 10px;
    background-color: #c09ef5;
    border: 2px solid #c09ef5;
    color: #fff;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
}

.tareas {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e9e9e9;
    margin-top: 1rem;
    padding: 10px;
    border-radius: 8px;

    button {
        padding: 4px;
        width: 2rem;
        background-color: #ff8888;
        border: 2px solid #ff8888;
        color: #fff;
        border-radius: 8px;
        font-weight: bold;
    }

}